# Dependencies
node_modules/
*/node_modules/

# Environment
.env
*.env.local

# Logs
*.log
npm-debug.log*

# Build
frontend/dist/
frontend/android/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Docker
mysql_data/
